* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
   
    margin: 0 auto;

}

.section1 {
    display: flex;
    justify-content: space-between;
    gap: 290px;
}

.header {
    align-items: center;
    display: flex;
    width: 100%;
    height: 77px;
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
}


.left {
    display: flex;
    gap: 10px;
}

.center {
    display: flex;
    gap: 10px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    /* or 107% */


    color: #FFFFFF;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;

}

.section2 {
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
}

.eva {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;

    color: #000000;

}

.more {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #737373;


}

.right2 {
    display: flex;
    gap: 10px;
}

h1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;

    color: #000000;
    margin-top: 150px;
}

.city {
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

button {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;


    width: 179px;
    height: 53px;
    border: none;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border-radius: 7px;

}

.what {
    margin-top: 230px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    text-align: center;

    color: #000000;



}

span {
    color: rgb(74, 74, 219);

}

.images {
    display: flex;
    justify-content: center;
    gap: 30px;


}

.first {
    box-shadow: 2px 2px 4px 0 rgb(238, 152, 219);

    z-index: 0;
    width: 349px;
    height: 414px;
    background: #ffffff;
    border-radius: 19px;
    margin-top: 30px;
}

.images img {
    border-radius: 19px;
    width: 349px;
    height: 234px;
    position: relative;
    z-index: 2;
}

h2 {
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.opisaniye {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #767676;
    padding-left: 20px;
    padding-top: 10px;
}

.index img {
    position: absolute;
    z-index: 0;
    left: 0;
}

.section3 {
    position: relative;
    z-index: 0;
}

.hh {
    margin-top: 80px;
    position: fixed;
    right: 70px;
    z-index: 2;
}

.f {
    margin-top: 80px;
    position: absolute;
    z-index: -1;
    right: 130px;
}

.go {
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

.comments {
    margin-top: 190px;
    width: 100%;
    height: 357px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}

.place {
    opacity: 0.25;

    position: relative;
    top: 85px;
    left: 0px;
    width: 536px;
    height: 187px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    z-index: 0;
    text-align: center;
}

.place img {
    margin-top: -90px;
}

.alt img {

    position: absolute;

    left: 200px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #B90160;
    z-index: 2;
}

.comments {
    display: flex;
    overflow: hidden;
}

.com {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    gap: 20px;
    color: #000000;
}

.com::after {

    display: flex;
    content: "";
    width: 130px;
    height: 5px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    flex-direction: column;
    margin: 0 auto;

}

h5 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;

    color: #8E8E8E;
}

.second img {
    position: absolute;

    margin-left: 250px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #B90160;
    z-index: 2;
}

.place2 {
    position: relative;
    top: 85px;
    width: 536px;
    height: 187px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    z-index: 0;
}

.com2 {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    gap: 20px;
    color: #000000;
}

.com2::after {
    display: flex;
    content: "";
    width: 130px;
    height: 5px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    flex-direction: column;
    margin: 0 auto;
}

.third img {
    position: absolute;

    margin-left: 250px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #B90160;
    z-index: 2;
}

.place3 {
    position: relative;
    top: 85px;
    width: 536px;
    height: 187px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    z-index: 0;
    margin-left: 30px;
}

.com3 {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    gap: 20px;
    color: #000000;
}

.com3::after {
    display: flex;
    content: "";
    width: 130px;
    height: 5px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    flex-direction: column;
    margin: 0 auto;
}

.contact {
    height: 400px;
}

.last {
    display: flex;
    justify-content:space-between;
   
}


.leeft {
    margin-top: 80px;
}

.lastt {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

    margin-bottom: 10px;
}

.leftt {
    margin-top: 150px;
    display: block;
}

.center2 {
    display: block;
    margin-top: 150px;
}

.over {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;
    /* or 68% */


    color: #000000;
}

.rigt {
    position: relative;
    margin-top: 150px;
    z-index: 0;
}

.rigt img {

    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    left: 50px;
    bottom: 50px;
}


@media(max-width:1200px) {
    .last {
     flex-wrap: wrap;
       gap: 20px;
       justify-content: center;
    }
.first {
    width: 530px;
    height: 400px;
}
h2 {
    text-align: center;
}
.opisaniye {
   text-align: center;
}
.first img {
    width: 100%;
}
    .images {
        flex-wrap: wrap;

    }

    .right2 {
        display: none;
    }

    .comments {
        height: 600px;
    }

    .go {
        flex-direction: column;
        gap: 60px;

        margin: 0 auto;
    }

    .section2 {
        justify-content: center;
    }

    .center {
        display: none;
    }

    .right {
        display: none;
    }

    .left {
        justify-content: center;
    }
}
@media (max-width:1000px) {
    h1{
        text-align: center;
    }
    .city {
        text-align: center;
    }
    button{
        display: block;
        margin: 0 auto;
    }
}
@media (max-width:581px) {
    .place {
        width: 400px;
    }
    .com {
      font-size: 12px;
    }
    .com2 {
        font-size: 12px;
    }
}
@media (max-width:401px) {
    h1 {
        font-size: 30px;
        text-align: center;
    }
    .city {
        text-align: center;
    }
    button {
      display: block;
      margin: 0 auto;
    }
    .first {
        height: 450px;
    }
    .place {
        width: 300px;
        height: 200px;
    }
    .com2 {
        font-size: 9px;
    }
}
@media (max-width: 360) {
    .hh {
        display: none;
    }
}